* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #494646;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
    font-size: clamp(14px, 2vw, 18px);

}

header {
   position: sticky;            
    top: 0;
    left: 0;
    width: 100%;                
    z-index: 1000;             
    
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 60px;
}

#simbolo{
    max-width: 50px;
    max-height: 25px;
    margin-top: 0px;
}

#header_opçoes{
    border-radius: 4px;
    padding: 10px;
    text-align: right;
}

.Programas{
    background-color: white;
    padding: 4px 10px 4px 10px;
    border-radius: 3px;
    box-shadow: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 10px 0px 10px 10px;
    font-size: 14px;
}

.Programas:hover{
    background-color: rgb(85, 7, 109);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

header img {
    margin-top: 10px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.info{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    justify-content: space-around;
    color: white;
    max-height: 700px;
    position: relative;
    overflow: hidden;
}

.slideshow-box {
  width: 300vw;  
  max-height: 80vw;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: slideShow 10s infinite;
}

.slide:nth-child(2) {
  animation-delay: 5s;
}
.slide:nth-child(3) {
  animation-delay: 5s;
}

@keyframes slideShow {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

.resultados{
    padding: 10px;
    background: linear-gradient(to top, black, white);
}

.imagens_resultados {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  gap: 15px;
  margin-top: 20px;
}

.img_resultado {
  width: 250px; /* ou qualquer tamanho desejado */
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.img_resultado:hover {
  transform: scale(1.05); /* Efeito suave no hover */
}

.planos{
    padding-left: 70px;
    color: black;
}

footer {
    background-color: #1f1c2c;
    color: white;
    text-align: center;
    padding: 1rem;
}

.social-box {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: white;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10000;
}

.social-box img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-box img:hover {
  transform: scale(1.2);
}
